* {
    color: red;
}

p {
font-weight: 400;

}

.main-text {
color: green;
font-weight: 600;


}
text# {


color: black;









}

 ul li {
     color: orange;
 }



  ul > li {
    color: palevioletred;
  }
  h3 + p {
      color: green;
  }

  a[href="https://www.youtube.com/"]{
      color: red;
  }


a:hover {
    color: green;
}