* {



box-sizing: border-box;

}


.but:hover {
    width: 100px;
    background-color: #011f4b;
    
}

.bat:hover {
    width: 99px;
    background-color: #03396c;
 
    
}
.bot:hover {
    width: 98px;
    background-color:#005b96;
   
}

.bet:hover {
    width: 97px;
    background-color: #6497b1;
   
}


.bit:hover {
    width: 96px;
    background-color:#a1c4fd ;
   
}

.amaterasu:hover {
width:95px;
background-color: #b3cde0;

}

.f {
    text-align: center;
}


.v {
 
 text-align: center;
}

.l {
    text-align: center;
}

.kpop {
    text-align: center;
}

.pop {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;